@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	/* @apply bg-black-bg; */
	font-size: 0.938rem;
}

button {
	outline: none;
	border: none
}

.main__main::before{
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	content: "";
	/* you can control opacity of noise  */
	opacity: .025;  
	z-index: 1000;
	pointer-events: none;
	background: url(../public/images/noise.gif) ;
}

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
	background: transparent !important;
	width: 0.6rem;
}

::-webkit-scrollbar-thumb {
	background-color: #45C87F;
	border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #3dbb76;
}

.spinner-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	background-color: green;
	z-index: 10;
}

.spinner {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%);
	height: 100px;
	width: 100px;
	margin: 0 auto;
	-webkit-animation: rotation .5s infinite linear;
	-moz-animation: rotation .5s infinite linear;
	-o-animation: rotation .5s infinite linear;
	animation: rotation .5s infinite linear;
	border: 6px solid red;
}

@-webkit-keyframes rotation {
	from {-webkit-transform: rotate(0deg);}
	to {-webkit-transform: rotate(359deg);}
}
@-moz-keyframes rotation {
	from {-moz-transform: rotate(0deg);}
	to {-moz-transform: rotate(359deg);}
}
@-o-keyframes rotation {
	from {-o-transform: rotate(0deg);}
	to {-o-transform: rotate(359deg);}
}
@keyframes rotation {
	from {transform: rotate(0deg);}
	to {transform: rotate(359deg);}
}